<b> Variable <b>

In [1]:
age = 10

In [2]:
name = "sagar"

In [3]:
name

'sagar'

In [4]:
id(name)

1359825833008

In [5]:
id(age)

140704816965696

In [7]:
name6="varun"

In [8]:
a = 2+3*5

In [9]:
a

17

<b> String <b>

In [10]:
# We are going to explore about string and its operations !! 
my_string = "this is my string"

In [11]:
print(my_string)

this is my string

In [12]:
type(my_string)

str

In [13]:
len(my_string)

17

In [14]:
empty_string = ""

In [15]:
len(empty_string)

0

In [16]:
my_string = my_string + " this is appending"

In [17]:
my_string

'this is my string this is appending'

In [18]:
id(my_string)

1359870909488

In [19]:
my_string = my_string + " i am again adding some content"

In [20]:
id(my_string)

1359868769840

In [21]:
string1 = "my string"

In [22]:
string1

'my string'

In [23]:
string1 * 3

'my stringmy stringmy string'

<b> Accessing the string elements <b>

In [24]:
my_string

'this is my string this is appending i am again adding some content'

In [25]:
string_for_learning = "this is my string"

In [26]:
string_for_learning

'this is my string'

In [27]:
string_for_learning[0]

't'

In [28]:
string_for_learning[4]

' '

In [29]:
string_for_learning[5]

'i'

In [30]:
string_for_learning[-1]

'g'

In [31]:
string_for_learning[-2]

'n'

In [32]:
id(string_for_learning[-2])

1359751695344

In [33]:
my_string

'this is my string this is appending i am again adding some content'

In [34]:
string_for_learning

'this is my string'

In [35]:
string_for_learning[2]

'i'

In [36]:
string_for_learning[0:3]

'thi'

In [37]:
string_for_learning[2:5]

'is '

In [38]:
string_for_learning[2: ]

'is is my string'

In [39]:
string_for_learning[ : 5]

'this '

In [40]:
string_for_learning[-2 : -4]

''

<b> built-in function for strings <b>

In [41]:
string_for_learning[ : ]

'this is my string'

In [42]:
string_for_learning.upper()

'THIS IS MY STRING'

In [43]:
string_for_learning.islower()

True

In [44]:
string_for_learning

'this is my string'

In [45]:
string_for_learning.isnumeric()

False

In [46]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [48]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

<Stripping and splitting a string <b>

In [51]:
string = "       this is a new string     "

In [52]:
string

'       this is a new string     '

In [53]:
string.rstrip()

'       this is a new string'

In [54]:
string.lstrip()

'this is a new string     '

In [55]:
string.strip()

'this is a new string'

In [56]:
string

'       this is a new string     '

In [57]:
string = string.strip()

In [58]:
string

'this is a new string'

In [65]:
string = "@@@@ this is another string **** "

In [66]:
string

'@@@@ this is another string **** '

In [68]:
string.rstrip(' * ')

'@@@@ this is another string'

In [69]:
string.lstrip('@')

' this is another string **** '

In [70]:
line = " rahul 25 19 40"

In [71]:
line

' rahul 25 19 40'

In [72]:
splitted = line.split()

In [73]:
splitted

['rahul', '25', '19', '40']

In [87]:
csv_string = " rahul,25,19,40"

In [89]:
csv_string

' rahul,25,19,40'

In [76]:
split_csv = csv.split(",")

In [77]:
split_csv

[' rahul', '25', '19', '40']

In [78]:
csv.find("rahul")

1

In [79]:
csv.find("pravin")

-1

In [80]:
csv

' rahul,25,19,40'

In [84]:
csv = csv.replace("r", "v")

In [85]:
csv[0]

' '

In [86]:
csv[1]

'v'

<b> Tuples and its operations <b>

In [91]:
my_tuple = (1,2.4,"mansi",True)

In [93]:
print(my_tuple)

(1, 2.4, 'mansi', True)

In [94]:
type(my_tuple)

tuple

In [95]:
len(my_tuple)

4

In [96]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])

1
2.4
mansi
True

In [97]:
print(my_tuple[-1])

True

In [98]:
print(my_tuple[-2])

mansi

In [99]:
type(my_tuple[0])

int

In [100]:
type(my_tuple[1])

float

In [101]:
type(my_tuple[2])

str

In [102]:
type(my_tuple[3])

bool

In [103]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)

In [104]:
tuple1

(1, 2, 3, 4)

In [105]:
tuple2

(5, 6, 7, 8)

In [106]:
tuple1 + tuple2

(1, 2, 3, 4, 5, 6, 7, 8)

In [107]:
tuple1

(1, 2, 3, 4)

In [108]:
tuple2

(5, 6, 7, 8)

In [109]:
tuple1

(1, 2, 3, 4)

In [110]:
tuple1[1]

2

In [111]:
tuple1[1] = 20

TypeError: 'tuple' object does not support item assignment

In [112]:
tuple1

(1, 2, 3, 4)

AttributeError: 'tuple' object has no attribute 'append'

In [114]:
tuple1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [115]:
tuple1 = (10,2,3,4)

In [117]:
tuple1

(10, 2, 3, 4)

In [118]:
a = 10

In [119]:
id(a)

140704816965696

In [120]:
a = a+1

In [121]:
a

11

In [122]:
id(a)

140704816965728

<b> List and its operations <b>

In [124]:
my_empty_list = []

In [125]:
type(my_empty_list)

list

In [126]:
len(my_empty_list)

0

In [127]:
my_list = [1,2.4,3,True,"Posina"]

In [128]:
my_list

[1, 2.4, 3, True, 'Posina']

In [129]:
len(my_list)

5

In [130]:
my_list[0]

1

In [131]:
my_list[3]

True

In [132]:
my_list[4]

'Posina'

In [133]:
my_list[-1]

'Posina'

In [134]:
my_list[-2]

True

In [135]:
my_list[ : ]

[1, 2.4, 3, True, 'Posina']

In [136]:
my_list[ 1 : ]

[2.4, 3, True, 'Posina']

In [137]:
my_list[ 2 : ]

[3, True, 'Posina']

In [138]:
my_list[  : 3]

[1, 2.4, 3]

In [139]:
my_list[ 2 : 4 ]

[3, True]

In [141]:
for element in my_list:
    print(element)

1
2.4
3
True
Posina

In [142]:
my_list.append(100)

In [143]:
my_list

[1, 2.4, 3, True, 'Posina', 100]

In [144]:
my_list[4]

'Posina'

In [145]:
my_list[4] = "Posina V"

In [146]:
my_list

[1, 2.4, 3, True, 'Posina V', 100]

In [149]:
my_tuple = (1,2,3)
my_list = [1,2,3]
print(my_tuple , ' and my type is ' , type(my_tuple))

(1, 2, 3)  and my type is  <class 'tuple'>

In [153]:
print(my_tuple , ' and my type is ' , type(my_list))

(1, 2, 3)  and my type is  <class 'list'>

In [156]:
my_list[1] = "two"
print(my_list)

[1, 'two', 3]

In [157]:
my_tuple[1] = "two"

TypeError: 'tuple' object does not support item assignment

In [164]:
my_list.append(["str","a","aaaa"])

In [165]:
my_list

[1, 'two', 3, [5, 6, 7], 100, 200, ['str', 'a', 'aaaa']]

In [166]:
my_list[3]

[5, 6, 7]

In [167]:
my_list

[1, 'two', 3, [5, 6, 7], 100, 200, ['str', 'a', 'aaaa']]

In [169]:
my_list.extend(["100","200hunder"])

In [170]:
my_list

[1, 'two', 3, [5, 6, 7], 100, 200, ['str', 'a', 'aaaa'], '100', '200hunder']

In [171]:
my_list

[1, 'two', 3, [5, 6, 7], 100, 200, ['str', 'a', 'aaaa'], '100', '200hunder']

In [172]:
my_list.insert(4,"prakash")

In [173]:
my_list

[1,
 'two',
 3,
 [5, 6, 7],
 'prakash',
 100,
 200,
 ['str', 'a', 'aaaa'],
 '100',
 '200hunder']

In [174]:
my_list[4] = "prakashhhhh"

In [175]:
my_list

[1,
 'two',
 3,
 [5, 6, 7],
 'prakashhhhh',
 100,
 200,
 ['str', 'a', 'aaaa'],
 '100',
 '200hunder']

In [176]:
my_list.remove('two')

In [177]:
my_list

[1,
 3,
 [5, 6, 7],
 'prakashhhhh',
 100,
 200,
 ['str', 'a', 'aaaa'],
 '100',
 '200hunder']

In [178]:
my_list.reverse()

In [179]:
my_list

['200hunder',
 '100',
 ['str', 'a', 'aaaa'],
 200,
 100,
 'prakashhhhh',
 [5, 6, 7],
 3,
 1]

In [180]:
help(my_list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [181]:
number = [1,2,3,4,5]

In [182]:
number

[1, 2, 3, 4, 5]

In [183]:
sum(number)

15

In [184]:
min(number)

1

In [185]:
max(number)

5

In [186]:
number = ["1",'2',"3","4","5"]

In [187]:
sum(number)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [188]:
number_my = [1,2,364,845,12,52,0,1,1,1,1]

In [189]:
number_my

[1, 2, 364, 845, 12, 52, 0, 1, 1, 1, 1]

In [190]:
number_my.sort()

In [191]:
number_my

[0, 1, 1, 1, 1, 1, 2, 12, 52, 364, 845]

In [192]:
number_my.sort(reverse=True)

In [193]:
number_my

[845, 364, 52, 12, 2, 1, 1, 1, 1, 1, 0]

<b> Set and its operations <b>

In [194]:
my_empty_set = {}

In [195]:
type(my_empty_set)

dict

In [196]:
len(my_empty_set)

0

In [197]:
my_set = { 1,1,4,5,4,6,8,9}

In [198]:
type(my_set)

set

In [199]:
my_set

{1, 4, 5, 6, 8, 9}

In [200]:
len(my_set)

6

In [201]:
list1 = [1,2,3,4,55,4,3,7,89,100]

In [202]:
list1

[1, 2, 3, 4, 55, 4, 3, 7, 89, 100]

In [203]:
set1 = set(list1)

In [204]:
set1

{1, 2, 3, 4, 7, 55, 89, 100}

In [209]:
my_set = {1,2,3,3,1,2,32,"name","name"}

In [210]:
my_set

{1, 2, 3, 32, 'name'}

In [211]:
type(set1)

set

In [212]:
set1

{1, 2, 3, 4, 7, 55, 89, 100}

In [213]:
set1.add(200)

In [214]:
set1

{1, 2, 3, 4, 7, 55, 89, 100, 200}

In [215]:
set1.pop()

1

In [216]:
set1.pop()

2

In [220]:
set1.remove(200)

In [221]:
set1

{3, 4, 7, 55, 89, 100}

In [222]:
s1 = {2,3,4}
s2 = {1,1,1}

In [223]:
s3 = s2 - s1

In [224]:
s3

{1}

In [225]:
s1

{2, 3, 4}

In [226]:
s2

{1}

In [227]:
s1.difference(s2)

{2, 3, 4}

In [228]:
s1 * s2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [229]:
s1.union(s2)

{1, 2, 3, 4}

In [230]:
s1

{2, 3, 4}

In [231]:
s2

{1}

In [232]:
s1 = {1,2,3,4,5,6}
s2 = {4,2,8,9,10}
s3 = {3,4,5}

In [233]:
s1.intersection(s2)

{2, 4}

In [234]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [235]:
s1 - s2

{1, 3, 5, 6}

<b> Dictionary <b>

In [236]:
my_dict = { 1: "rama" , 2 : "kajal ", 3 : "thiyagu"}

In [237]:
type(my_dict)

dict

In [238]:
len(my_dict)

3

In [239]:
my_dict

{1: 'rama', 2: 'kajal ', 3: 'thiyagu'}

In [250]:
my_dict1 = { "key1" : "value1" , 
            "key2" : "value2"}

In [251]:
my_dict[1]

'rama'

In [252]:
my_dict[3]

'thiyagu'

In [253]:
my_dict1["key1"]

'value1'

In [248]:
my_dict1.get("key1")

'value1'

In [249]:
my_dict.get(2)

'kajal '

In [254]:
my_dict1["key1"]

'value1'

In [255]:
my_dict1["key1"] = "value2"

In [256]:
my_dict1

{'key1': 'value2', 'key2': 'value2'}

In [257]:
my_dict

{1: 'rama', 2: 'kajal ', 3: 'thiyagu'}

In [258]:
my_dict[1] = 'kajal agarwal'

In [259]:
my_dict

{1: 'kajal agarwal', 2: 'kajal ', 3: 'thiyagu'}

In [260]:
dict = { 1 : "hi" , 2 : "bye"}

In [261]:
dict

{1: 'hi', 2: 'bye'}

In [263]:
for key in dict.keys():
    print(key)

1
2

In [264]:
for value in dict.values():
    print(value)

hi
bye

In [265]:
emp_dict = { 1111 : ["rahul", 32] , 1234 : ["pranav" , 31]}

In [266]:
emp_dict

{1111: ['rahul', 32], 1234: ['pranav', 31]}

In [270]:
emp = { 1111 : "hi" , 1111 :"bye" }

In [271]:
emp

{1111: 'bye'}

In [273]:
# Demo cell for arith operators 
a = 100 
b = 50 
print("a+b = " , a+b)
print("a-b = " , a-b)
print("a*b = " , a*b)
print("a/b = " , a/b)
print("a%b = " , a%b)
print("a//b = " , a//b)

a+b =  150
a-b =  50
a*b =  5000
a/b =  2.0
a%b =  0
a//b =  2

In [274]:
a > b

True

In [275]:
a**b

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [276]:
b < a

True

In [277]:
a & b

32

In [278]:
~1

-2

In [279]:
(a>5) and (b>2)

True

In [280]:
(a>500) and (b>2)

False

In [281]:
list

list

In [282]:
my_list

['200hunder',
 '100',
 ['str', 'a', 'aaaa'],
 200,
 100,
 'prakashhhhh',
 [5, 6, 7],
 3,
 1]

In [283]:
100 in my_list

True

In [284]:
5000 in my_list

False

In [297]:
a = 2500
b = 2500

In [298]:
id(a)

1359863565072

In [299]:
id(b)

1359863565328

In [300]:
a is b

False